/* ============= GENERAL HTML STUFF ============= */
html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
}

/* stuff consistent across the body */
body {
  font-family: "Barlow";
  font-size: 14pt;
  background-color: #202020;
}

/* specific divs */
.languages {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

/* h */
/* this is used for headers */
h1 {
  font-size: 28pt;
  color: #3287a8;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

/* this is used for sub-headers */
h2 {
  font-size: 22pt;
  color: #3287a8;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

/* this h1/h2 is used for project headers */
.project-header,
.about-header {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

/* this is used for language titles */
h3 {
  font-size: 2vw;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

/* p */
p {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 10px;
  font-size: 1.2vw;
  line-height: normal;
  color: #ffffff;
}

/* this is used for text directly in the body */
.normal-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* this is used for text in project cards */
.center {
  text-align: center;
}

/* a */
a {
  color: #c7dcff;
  text-decoration: none;
}

a:hover {
  color: #8c9cb8;
}

/* ============= REPSONSIVENESS ============= */
@media screen and (max-width: 1200px) {
  .splash {
    height: 130vh;
  }

  h1,
  h2 {
    font-size: 39pt;
  }

  h3 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hide-on-small-window {
    visibility: hidden;
  }
}

/* ============= SPLASH STUFF ============= */
.splash-text {
  margin: 0;
  /* Center horizontally and vertically */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-main {
  font-size: 30pt;
  position: relative;
}

.splash-content-l {
  position: relative;
}

.splash-content-r {
  position: relative;
}

.splash-content-c {
  position: relative;
}

.splash {
  height: 100vh;
  background-image: url(../img/splash.jpg);
  background-position: center;
  /* Center the background image */
  color: #ffffff;
  text-align: center;
  top: 50%;
}

.splash-tint {
  background-color: rgba(50, 135, 168, 1);
  background-blend-mode: multiply;
}