html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { 
	min-width: 525px;
	font-family: 'Encode Sans Condensed';
	background-size: 800px 450px;
	line-height: 14pt;
}

/* p */
.bigtext {
	font-size: 2.5vw;
}
@media (max-width: 600px) {
	.bigtext {
		font-size: 12vw;
	}
}
p {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1vw;
	line-height: normal;
}
@media (max-width: 600px) {
	p {
		font-size: 6vw;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* a */
a {
	color: rgba(20, 195, 201, 255);
}

/* div */
.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 90vh;
}